/backend/photos/**
/backend/.venv/**
/backend/.idea
/backend/**/__pycache__
/nginx/nginx.conf
/ssl/localhost-key.pem
/ssl/localhost.pem
/nginx/Dockerfile
docker-compose.dev.yml
/nginx/nginx.conf
/nginx/localhost.key
/nginx/localhost.crt
.env
/.idea
/nginx/rootCA.key
/nginx/rootCA.crt
/nginx/rootCA.pem
.vscode
/.nezuko
/certs
docker-compose-dev-https.yml
.vscode
/docker-compose-dev-https.yml